.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
.Ruserdata
inst/doc
# package
vignette/*_cache
vignette/*_files
vignettes/*.html
vignettes/*.R
vignettes/FTSgof/
inst/doc/*.html
/doc/
/Meta/
CRAN-SUBMISSION
