export(OCIDR)
export(dgp.ou)
export(dgp.far)
export(dgp.fgarch)
export(rainbow3D)
export(fACF)
export(fSACF)
export(fport_eda)
export(fACF_test)
export(fSACF_test)
export(fCH_test)
export(fport_wn)
export(fport_gof)
export(gof_far)
export(gof_fGARCH)
import(stats)
importFrom(graphics, legend, lines, par, plot)
importFrom(rgl, open3d, plot3d, lines3d, axes3d, title3d, rglwidget)
importFrom("grDevices", "rainbow")
importFrom("utils", "find")
importFrom(fda, create.bspline.basis, smooth.basis, eval.fd, pca.fd, fdPar)
importFrom("graphics", "abline", "points")
importFrom(nloptr, cobyla)
import(sfsmisc)
importFrom(MASS, mvrnorm)
importFrom(sde, BM)
